$hamburger-layer-color: #fff;
$hamburger-active-layer-color: #fff;
$hamburger-active-hover-opacity: 1;
$hamburger-layer-height: 2px;
$hamburger-layer-width: 28px;
$hamburger-layer-border-radius: 0;
@import "~hamburgers/_sass/hamburgers/hamburgers";