$hamburger-layer-color: $textColor;
$hamburger-active-layer-color: $textColor;
$hamburger-active-hover-opacity: 1;
$hamburger-layer-height: 1px;
$hamburger-layer-width: 20px;
$hamburger-layer-border-radius: 0;
@import "~hamburgers/_sass/hamburgers/hamburgers";
